.home {
  position: relative;
  text-align: center;
  color: white;
}

.background-image {
  background-image: url('../img/image-font.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.content {
  position: absolute;
  top:  25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.desc{
  color: rgb(24, 24, 24);
}

h2{
  font-size: calc(2rem + .6vw);
}

h4{
  font-size: calc(1.5rem + .6vw);
}

.Apropos{
  font-size: calc(1.2rem + .6vw);
  color: white;
}