.App {
  text-align: center;
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #6a6a6a;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


.container:not(.home) {
  margin-top: 80px;
  height: calc(100vh - 80px);
  background-color: #f9f9f9;
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
}

.container_components{
  padding-bottom: 3rem;
}

h1 {
  font-size: calc(1.375rem + 1.5vw) !important;
  padding: 3rem !important;
}

h1, h3{
  font-size: calc(1.3rem + .6vw);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

h3.subtitle {
  color: rgb(71, 147, 209);
  text-align: left;
  margin-top: 3vh;
}

h5.subtitle {
  color: rgb(71, 147, 209);
  text-align: left;
  margin: 0;
}

p{
  margin-bottom: 1rem;
  text-align: justify;
  font-size: large;
  line-height: 1.6;
}

.realised_container {
  display: flex;
  gap: 15px;
  margin-top: 10px;
justify-content: center;
}

.realised_button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.realised_button:hover {
  background-color: #0056b3;
}

img.formcollect{
  width: 49vw;
}

img.locadax{
  width: 49vw;
}

img.rezdrive{
  width: 49vw;
}